.colorSideA{
    background-color: white;
    border-left: solid grey 1px;
    border-right: solid grey 1px;
}
.colorSideB{
    background-color:rgb(211, 213, 224);
    img{
        width: 100%;
    }
}
.alturaMax{
    min-height: 100vh;
}