<div class="container">
    <div class="row alturaMax">
        <!-- filtro -->
        <div class="col-lg-4 border-lados">
            <!-- filtrar  -->
            <div id="busqueda-filtro">
                <h3 class="mx-3 mt-4">Filtrar por:</h3>
                <div class="mx-3">
                    <form class="d-flex justify-content-center form-inline my-2 my-lg-2">
                        <input class="form-control my-2 my-md-1 mr-sm-1" type="search"
                        placeholder="Buscar Ofertas Laborales" aria-label="Search" ([ngModel])="textFiltro">
                        <button class="btn btn-outline-success my-2 my-sm-1" type="submit">Buscar!</button>
                    </form>
                </div>
            </div>
            <!-- tematicas -->
            <div class="mx-4 my-5">
                <h3 class="my-3">Temática</h3>
                <div class="form-check my-2">
                    <input (click)="updatefiltroTema()" class="form-check-input" type="checkbox" value="" id="programacion" >
                    <label class="form-check-label" for="programacion">Programación</label>
                </div>
                <div class="form-check my-2">
                    <input (click)="updatefiltroTema()" class="form-check-input" type="checkbox" value="" id="diseno">
                    <label class="form-check-label" for="diseno">Diseño</label>
                </div>
                <div class="form-check my-2">
                    <input (click)="updatefiltroTema()" class="form-check-input" type="checkbox" value="" id="humanidades">
                    <label class="form-check-label" for="humanidades">Humanidades</label>
                </div>
            </div>
            <!-- duracion en cantidad de modulos -->
            <div class="m-4">
                <h3 class="my-3">Duración</h3>
                <div class="form-check">
                    <input (click)="changeDuracionModulo()" class="form-check-input" type="checkbox" value="" id="uno_modulo">
                    <label class="form-check-label" for="uno_modulo">1 Módulo</label>
                </div>
                <div class="form-check">
                    <input (click)="changeDuracionModulo()" class="form-check-input" type="checkbox" value="" id="dos_modulos">
                    <label class="form-check-label" for="dos_modulos">2 Módulos</label>
                </div>
                <div class="form-check">
                    <input (click)="changeDuracionModulo()" class="form-check-input" type="checkbox" value="" id="tres_modulos">
                    <label class="form-check-label" for="tres_modulos">3 Módulos</label>
                </div>
                <div class="form-check">
                    <input (click)="changeDuracionModulo()" class="form-check-input" type="checkbox" value="" id="cuatro_modulos">
                    <label class="form-check-label" for="cuatro_modulos">4 Módulos</label>
                </div>
                <div class="form-check">
                    <input (click)="changeDuracionModulo()" class="form-check-input" type="checkbox" value="" id="mas_modulos">
                    <label class="form-check-label" for="mas_modulos">Más de 5 Módulos</label>
                </div>
            </div>
        </div><!-- fin col filtro -->
        
        <div class="col-lg-8  py-4">
            <h3 class="px-5">Cursos Disponibles</h3>
            <div class="container">
                <div class="row my-5 justify-content-center">
                    
                    <div class="col-8 col-lg-5 mx-1" 
                    *ngFor="let curso of lista_cursos | filtroCursos:filtro.duracion1:filtro.duracion2:filtro.duracion3:filtro.duracion4:filtro.duracionMas
                    :filtro.temaProg:filtro.temaDiseno:filtro.temaHumanidades"><!-- pipe filtro, pipe inicio, final y paginacion-->
                        <!-- card -->
                        <app-card-curso [curso]=curso></app-card-curso>
                    </div>
                </div><!-- fin lista card -->

            </div>
            
        </div>
    </div>
</div>
