.container{
    background-color: white;
    
}
#busqueda-filtro{
    width: 80%;
}
.border-lados{
    background-color: rgb(228, 250, 227);
    border-left: black solid px;
    border-right: grey solid 1px;
}
.alturaMax{
    min-height: 100vh;
}