.div-img{
    background-image: url('https://i.pinimg.com/originals/11/e0/cc/11e0cc7cde1193d7b8710f4508ca42db.jpg'); 
    background-repeat: no-repeat; 
    text-align: center;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 30vh;
}
.all{
    min-height: 100vh;
}