.div-img{
    background-image: url('https://raw.githubusercontent.com/pancitoconquesito/xtra-a/main/doggo.png'); 
    background-repeat: no-repeat; 
    text-align: center;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 30vh;
}
.all{
    min-height: 100vh;
}