<!-- [routerLink]= "['/inicioEstudiante/:idEstudiante/cursos/',curso.titulo,curso.id]" -->
<div class="card my-3" 
(click)="verCurso()"
role="button">
    <img src={{curso.img}} 
    alt={{curso.img}} class="bd-placeholder-img card-img-top" 
    width="100%" height="190px">
    <div class="cosa text-center ">
        <div>
            <i class="far fa-play-circle play "></i>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{curso.titulo}}</p>
        <small>{{curso.cantModulos |cantModulosCurso}} | {{curso.duracion |minutosParseHrMin}}</small><!--pipe cantidad de modulo(s),  pipe de tiempo-->
</div>