.cont-redes{
    button{
        display: flex;
        justify-content: space-around; 
        img{
            width: 20%;
            
        }
        h4{
            align-self: center;
            // margin-right: 20%;
        }
    }
}

form{
    margin: 0 auto;
    width: 80%;
}
.div-img{
    background-image: url('https://raw.githubusercontent.com/pancitoconquesito/xtra-a/main/doggo.png'); 
    background-repeat: no-repeat; 
    text-align: center;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 30vh;
}
.img-fondo{
    margin: 0 auto;
}
.all{
    min-height: 100vh;
}
